<a href="https://colab.research.google.com/github/JuliusR8ll/Complete-Feature-Selection/blob/master/MLA_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
dataset = pd.read_csv("/content/all_data.csv",header = None)

In [3]:
X = dataset.iloc[:,:-1].values
y = dataset.iloc[:,-1].values

In [4]:
X

array([[-1.3326e-04,  2.6177e-04,  1.0993e-03, ...,  5.6249e-01,
         1.5705e+00,  7.9906e-01],
       [-8.4179e-04, -1.0111e-03, -1.0707e-03, ...,  6.1034e-01,
         1.6645e+00,  7.4574e-01],
       [-7.6610e-04, -5.3523e-04,  1.6161e-04, ...,  4.5707e-01,
         1.3386e+00,  7.4574e-01],
       ...,
       [-5.1139e-04, -1.3700e-03, -2.7686e-03, ...,  8.3218e-01,
         2.4844e+00,  2.3322e+00],
       [-8.8029e-04, -1.7339e-03, -3.0952e-03, ...,  8.0723e-01,
         2.5448e+00,  2.6716e+00],
       [-1.5990e-03, -1.0844e-03,  4.6462e-04, ...,  8.2323e-01,
         2.3979e+00,  2.3577e+00]])

In [5]:
X = np.array(X).T

In [6]:
X

array([[-1.3326e-04, -8.4179e-04, -7.6610e-04, ..., -5.1139e-04,
        -8.8029e-04, -1.5990e-03],
       [ 2.6177e-04, -1.0111e-03, -5.3523e-04, ..., -1.3700e-03,
        -1.7339e-03, -1.0844e-03],
       [ 1.0993e-03, -1.0707e-03,  1.6161e-04, ..., -2.7686e-03,
        -3.0952e-03,  4.6462e-04],
       ...,
       [ 5.6249e-01,  6.1034e-01,  4.5707e-01, ...,  8.3218e-01,
         8.0723e-01,  8.2323e-01],
       [ 1.5705e+00,  1.6645e+00,  1.3386e+00, ...,  2.4844e+00,
         2.5448e+00,  2.3979e+00],
       [ 7.9906e-01,  7.4574e-01,  7.4574e-01, ...,  2.3322e+00,
         2.6716e+00,  2.3577e+00]])

In [7]:
X = pd.DataFrame(X)

In [8]:
X[0]

0     -0.000133
1      0.000262
2      0.001099
3      0.001834
4      0.002109
         ...
531    0.742470
532    0.225070
533    0.562490
534    1.570500
535    0.799060
Name: 0, Length: 536, dtype: float64

In [9]:
X.describe()

,0,1,2,3,4,5,6,7,8,9,...,220,221,222,223,224,225,226,227,228,229
count,536.000000,536.000000,536.000000,536.000000,536.000000,536.000000,536.000000,536.000000,536.000000,536.000000,...,536.000000,536.000000,536.000000,536.000000,536.000000,536.000000,536.000000,536.000000,536.000000,536.000000
mean,0.025111,0.025813,0.024400,0.025106,0.024145,0.023868,0.028022,0.027250,0.026872,0.028124,...,0.030772,0.032996,0.033013,0.035067,0.034949,0.034311,0.031896,0.032878,0.034118,0.031896
std,0.234115,0.243869,0.238624,0.248882,0.244564,0.246637,0.248439,0.257881,0.247372,0.254065,...,0.257454,0.276977,0.278050,0.294411,0.291005,0.289178,0.269156,0.277077,0.288634,0.269156
min,-0.026893,-0.021074,-0.029054,-0.021758,-0.022622,-0.024228,-0.016639,-0.025508,-0.026207,-0.020987,...,-0.006483,-0.007598,-0.007825,-0.010164,-0.009480,-0.010830,-0.004494,-0.003721,-0.006268,-0.004494
25%,-0.000102,-0.000056,-0.000059,-0.000182,-0.000088,-0.000101,-0.000127,-0.000095,-0.000109,-0.000136,...,-0.000211,-0.000281,-0.000170,-0.000251,-0.000204,-0.000243,-0.000101,-0.000265,-0.000546,-0.000101
50%,0.000027,0.000031,0.000020,-0.000001,0.000009,0.000013,0.000014,0.000016,0.000019,0.000007,...,0.000013,0.000011,0.000015,0.000032,0.000033,0.000030,0.000010,-0.000008,0.000001,0.000010
75%,0.000463,0.000569,0.000492,0.000117,0.000248,0.000123,0.000391,0.000300,0.000404,0.000306,...,0.000267,0.000420,0.000286,0.000562,0.000424,0.000378,0.000197,0.000113,0.000236,0.000197
max,3.755700,3.987700,3.974900,3.920500,3.766700,4.113400,3.541700,3.850600,3.731600,3.841300,...,3.475200,3.811600,3.746700,3.887000,3.645600,3.840500,3.704900,3.590500,3.959800,3.704900

In [10]:
mean = X.describe().iloc[1]
min =  X.describe().iloc[3]
max =  X.describe().iloc[7]

In [11]:
x = [mean,min,max]
x

[0      0.025111
 1      0.025813
 2      0.024400
 3      0.025106
 4      0.024145
          ...
 225    0.034311
 226    0.031896
 227    0.032878
 228    0.034118
 229    0.031896
 Name: mean, Length: 230, dtype: float64, 0     -0.026893
 1     -0.021074
 2     -0.029054
 3     -0.021758
 4     -0.022622
          ...
 225   -0.010830
 226   -0.004494
 227   -0.003721
 228   -0.006268
 229   -0.004494
 Name: min, Length: 230, dtype: float64, 0      3.7557
 1      3.9877
 2      3.9749
 3      3.9205
 4      3.7667
         ...
 225    3.8405
 226    3.7049
 227    3.5905
 228    3.9598
 229    3.7049
 Name: max, Length: 230, dtype: float64]

In [12]:
x = pd.DataFrame(x)
x

,0,1,2,3,4,5,6,7,8,9,...,220,221,222,223,224,225,226,227,228,229
mean,0.025111,0.025813,0.024400,0.025106,0.024145,0.023868,0.028022,0.027250,0.026872,0.028124,...,0.030772,0.032996,0.033013,0.035067,0.034949,0.034311,0.031896,0.032878,0.034118,0.031896
min,-0.026893,-0.021074,-0.029054,-0.021758,-0.022622,-0.024228,-0.016639,-0.025508,-0.026207,-0.020987,...,-0.006483,-0.007598,-0.007825,-0.010164,-0.009480,-0.010830,-0.004494,-0.003721,-0.006268,-0.004494
max,3.755700,3.987700,3.974900,3.920500,3.766700,4.113400,3.541700,3.850600,3.731600,3.841300,...,3.475200,3.811600,3.746700,3.887000,3.645600,3.840500,3.704900,3.590500,3.959800,3.704900

In [13]:
x = np.array(x).T

In [14]:
x = pd.DataFrame(x)
x

            0         1       2
0    0.025111 -0.026893  3.7557
1    0.025813 -0.021074  3.9877
2    0.024400 -0.029054  3.9749
3    0.025106 -0.021758  3.9205
4    0.024145 -0.022622  3.7667
..        ...       ...     ...
225  0.034311 -0.010830  3.8405
226  0.031896 -0.004494  3.7049
227  0.032878 -0.003721  3.5905
228  0.034118 -0.006268  3.9598
229  0.031896 -0.004494  3.7049

[230 rows x 3 columns]

In [15]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.25, random_state = 0)

In [16]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(random_state=0)
classifier.fit(x_train, y_train)

LogisticRegression(random_state=0)

In [17]:
y_pred = classifier.predict(x_test)

In [18]:
from sklearn.metrics import accuracy_score
print ("Accuracy : ", accuracy_score(y_test, y_pred))

Accuracy :  0.6551724137931034

In [20]:
from scipy.stats import skew
skew = skew(dataset, axis=0, bias=True)

In [27]:
from scipy.stats import kurtosis
kurtosis = kurtosis(dataset, axis=0, bias=True)

In [31]:
df = [mean,max,min,skew,kurtosis]

In [33]:
df = np.array(df).T

In [34]:
df = pd.DataFrame(df)

In [38]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(df, y, test_size = 0.2, random_state = 0)

In [39]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(random_state=0)
classifier.fit(x_train, y_train)

LogisticRegression(random_state=0)

In [40]:
y_pred = classifier.predict(x_test)
from sklearn.metrics import accuracy_score
print ("Accuracy : ", accuracy_score(y_test, y_pred))

Accuracy :  0.717391304347826

In [43]:
from sklearn.model_selection import cross_val_score
accuracies = cross_val_score(estimator = classifier, X = x_train, y = y_train, cv = 10)
print("Accuracy: {:.2f} %".format(accuracies.mean()*100))
print("Standard Deviation: {:.2f} %".format(accuracies.std()*100))

Accuracy: 71.96 %
Standard Deviation: 10.48 %